%article.comment
  %header<
    %h1= "Comment on #{@owner.title}"
  .text=@comment.text
  %footer
    %ul
      %li= button_to 'trash this comment', @comment.route, :method=>:delete
      %li= button_to 'edit this comment', @comment.route+'/edit', :method=>:get
      %li= button_to 'rest of the thread', @owner, :method=>:get