!!! 5
%html
  %head
    %title The Multiverse
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery/jquery'
    = javascript_include_tag :all, :cache => true
    = csrf_meta_tag
  %body
    %header
      %nav#login
        -if user_signed_in?
          %div<
            signed in as #{link_to current_user.email, current_user}
          %div<
            not you? #{link_to("sign out",destroy_user_session_path)}
        -else
          =link_to "sign in", new_user_session_path
          =link_to "sign up", new_user_registration_path
    -if alert and alert!=""
      .alert= alert
    -if notice and notice!=""
      .notice= notice
    =request.fullpath
    = yield