!!! 5
%html
  %head
    %title The Multiverse
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = javascript_include_tag :all, :cache => true
    = csrf_meta_tag
  %body
    = yield